{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="home">
    <a href="/art">
        <img class="hoverSwitch" id="newspaper" src="{% static '/images/site/newspaper-close.gif' %}"
            alt="A placeholder, please have edited this by publish">
    </a>
    <a href="/blog">
        <img class="hoverSwitch" id="pictures" src="{% static '/images/site/pictures-close.gif' %}"
            alt="A placeholder, please have edited this by publish">
    </a>
    <a href="/project">
        <img class="hoverSwitch" id="tv" src="{% static '/images/site/tv-close.gif' %}"
            alt="A placeholder, please have edited this by publish">
    </a>
    <a href="/about">
        <img class="hoverSwitch" id="map" src="{% static '/images/site/map-close.gif' %}"
            alt="A placeholder, please have edited this by publish">
    </a>
    <a href="/blogroll">
        <img class="hoverSwitch" id="book" src="{% static '/images/site/book-close.gif' %}"
            alt="A placeholder, please have edited this by publish">
    </a>
    <a href="/resume">
        <img class="hoverSwitch" id="filing" src="{% static '/images/site/filing-close.gif' %}"
            alt="A placeholder, please have edited this by publish">
    </a>
    <script>
        let getRandomNum = () => {
            return Math.floor(Math.random() * 10000)
        }

        let switchImage = (el, direction) => {
            let elName =  el.getAttribute("id")
            let imgPath = el.getAttribute("src").split(elName)[0]

            let newImgSrc = `${imgPath}${elName}-${direction}.gif?a=${getRandomNum()}`
            el.setAttribute("src", newImgSrc)
        }
        let switchables = document.getElementsByClassName("hoverSwitch")

        for (let switchable of switchables) {
            switchable.addEventListener("mouseover", () => switchImage(switchable, "open"))
            switchable.addEventListener("mouseout", () => switchImage(switchable, "close"))
        }
    </script>
    {% include "h-card.html" %}
</main>
{% endblock content %}