{% extends 'base.html' %}

{% block content %}
<main>
    <h2>{{ name }}</h2>
    <div class="list-view">
        {% for post in post_list %}
        <article class="project-card">
            <a href="/{{ post.post_type }}/{{ post.slug }}">
                <h3>{{ post.title }}</h3>
                <img src="{{ media_url }}{{ post.image }}" alt="{{post.alt_text}}">
            </a>
            <p>{{ post.description|striptags|truncatechars:100 }} <a href='/{{ post.post_type }}/{{ post.slug }}'>Read
                    more</a>
            </p>
        </article>
        {% endfor %}
    </div>
</main>
{% endblock content %}