{% extends 'base.html' %}

{% block content %}
<main class="h-feed">
    <h2 class="p-name">{{ name }}</h2>
    <a class="u-url u-uid" rel="alternate" type="application/mf2+html" href="http://travissouthard.com/full-feed"></a>
    {% if is_full == True %}
    <div class="list-full">
        {% else %}
        <div class="list-view">
            {% endif %}
            {% for post in post_list %}
            <article class="h-entry project-card">
                <a class="u-url" href="/{{ post.post_type }}/{{ post.slug }}">
                    <h3 class="p-name">{{ post.title }}</h3>
                    <img src="{{ media_url }}{{ post.image }}" alt="{{post.alt_text}}">
                </a>
                {% if is_full == True %}
                <div class="p-summary e-content">{{ post.description|safe }}</div>
                {% else %}
                <p class="p-summary">{{ post.description|striptags|truncatechars:100 }} <a
                        href='/{{ post.post_type }}/{{ post.slug }}'>Read
                        more</a>
                </p>
                {% endif %}
            </article>
            {% endfor %}
        </div>
</main>
{% endblock content %}