{% load static %}

<nav>
    <div class="h-card p-author">
        <img class="u-photo" src="{% static '/images/profile.png' %}"
            alt="A stylized white on blue photo of Travis' face made of squares of various size.">
        <div>
            <a class="u-url" rel="me" href="https://travissouthard.com">
                <p class="p-name">Travis Southard</p>
            </a>
            <p class="location"><span class="p-locality">Philadelphia</span>, <span class="p-region">PA</span></p>
        </div>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/project">Projects</a></li>
        <li><a href="/art">Art</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogroll">Blogroll</a></li>
        <li><a href="/rss" rel="alternate" type="application/rss+xml">RSS Feed</a></li>
        <li><a href="https://github.com/travissouthard" rel="me">GitHub</a></li>
        <li><a href="/resume">Resume</a></li>
    </ul>
</nav>