{% extends 'base.html' %}

{% block content %}
<main class="h-entry">
    <h2 class="p-name">{{ post.title }}</h2>
    <div class="detail-view">
        {% include "blog-nav.html" %}
        <article class="e-content blog-post">
            <h5><span class="dt-updated">Last updated: {{post.last_updated}}</span> | <a class="u-url u-uid"
                    href="https://travissouthard.com/{{ post.post_type }}/{{ post.slug }}">Permalink</a> | <a
                    href="https://travissouthard.com/rss.xml" target="_blank">RSS</a></h5>
            <img class="u-photo" src="{{ media_url }}{{ post.image }}" alt="{{ post.alt_text }}">
            <p class="image-desc"><em>{{ post.alt_text }}</em></p>
            {{ post.description|safe }}
            <p>
                <em>
                    Thank you for reading!
                    <a href="https://ko-fi.com/travissouthard" target="_blank">
                        Please consider supporting this blog.
                    </a>
                </em>
            </p>
        </article>
        {% include "blog-nav.html" %}
    </div>
</main>
{% endblock content %}