{% extends 'base.html' %}

{% block content %}
<main>
    <h2>{{ post.title }}</h2>
    <div class="detail-view">
        <article class="blog-post">
            <h5>Last updated: {{post.last_updated}} | <a
                    href="https://travissouthard.com/{{ post.post_type }}/{{ post.slug }}">Permalink</a> | <a
                    href="https://travissouthard.com/rss.xml" target="_blank">RSS</a></h5>
            <img src="{{ media_url }}{{ post.image }}" alt="{{ post.alt_text }}">
            <p class="image-desc"><em>{{ post.alt_text }}</em></p>
            {{ post.description|safe }}
            <p>
                <em>
                    Thank you for reading!
                    <a href="https://ko-fi.com/travissouthard" target="_blank">
                        Please consider supporting this blog.
                    </a>
                </em>
            </p>
        </article>
    </div>
</main>
{% endblock content %}